.align-end{
    display: flex;
    justify-content: end;
}
.overflow-x{
    overflow-x: auto;
    height: 500px;
}
.cursor{
    cursor: pointer;
}
img:hover{
    background-color: rgb(97, 188, 248);
}
.space-between{
    display: flex;
    justify-content: space-between;
}